html,
:root {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.header {
    min-width: 80rem;
    max-width: 140rem;
    margin: 0 auto;


}

.header-info {
    height: 67.6rem;
    background-color: black;
    position: relative;
    /* top: 0;
    left: 0; */
    display: flex;
}

.h-logo {
    color: white;
    font-size: 2.2vw;
    font-weight: 500;
    padding: 3rem 0 0 19rem;
}

.menu-ul {
    display: flex;
    width: 47.5rem;
    justify-content: flex-end;
    margin-top: 3.6rem;
    list-style-type: none;
}




.a-li {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.a-li:hover,
.a-li-margin:hover,
.info-link:hover {
    color: #ffbb00;
}

.a-li-margin {
    margin: 0 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.h-title {
    font-size: 5rem;
    font-weight: 600;
    color: white;
    width: 49rem;
    padding-top: 17rem;
}

.title-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #B2B2B2;
    width: 44rem;
    line-height: 3.2rem;
    font-weight: 400;
    padding-top: 4rem;

}

.card {
    width: 100%;
    position: absolute;
    left: 70rem;
    top: 10rem;
}

.card-image {
    width: 40%;
}

.button-1 {
    text-decoration: none;
    color: #332200;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #f6ad09;
    height: 3rem;
    width: 15rem;
    background-color: #f6ad09;
    border-radius: 0.5rem;
    position: absolute;
    top: 52.7rem;
    left: 19rem;
    padding: 12px 0 0 25px;

}

.card_main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin: 4rem 0 0 0rem;

}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    padding: 15rem 0 0 20rem;
    color: #111111;
}

span {
    color: #f6ad09;
}

.card_bike,
.card_bike_margin {
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    width: 25%;

}

.card_bike_margin {
    margin: 0 6rem;
}

.sub-image {
    display: flex;
    margin-top: 0.8rem;
}

.rect-image {
    height: 100%;
    padding-top: 0.8rem;
}

.bike-image {
    width: 100%;
}

.bike-title {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    padding-left: 0.5rem;
    color: #111111;
}

.bike-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding-top: 0.7rem;
    color: #595959;
}

.main {
    min-width: 80rem;
    max-width: 140rem;
    margin: 17rem auto 0 auto;
}

.main-info {
    height: 82.6rem;
    background-color: #111111;
    position: relative;
}

.tech-image {
    width: 100%;
    position: absolute;
    right: 5.5rem;
    bottom: -75px;
    width: 61rem;
}

.tech-image-1 {
    width: 61rem;
}

.main-text {
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8rem 0 0 20rem;

}

.main-title-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6.2rem;
    width: 42rem;
    padding: 2rem 0 0 20rem;
}

.main-subtitle {
    color: #B2B2B2;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width: 44rem;
    line-height: 3rem;
    padding-top: 3.6rem;
}

.main-ref {
    color: #ffbb00;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: .3rem solid #ffbb00;
    padding-bottom: .2rem;
}

.main-card {
    display: flex;
    width: 49rem;
    padding: 5rem 0 0 20rem;
}

.main-card-title {
    color: #f5f5f5;
    font-size: 2rem;
}

.main-card-subtitle {
    color: #B2B2B2;
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 1.5rem 0 0 0;
}

.main-card-image {
    width: 1.8rem;
    padding: 0 0 0.2rem 0;
}

.button-a {
    text-decoration: none;
}

.button-menu {
    margin: 3rem -13rem;
}

.block-button {
    border: 2px solid #e0e0e0;
    width: 30rem;
    height: 12.2rem;
    display: inline-block;
    vertical-align: bottom;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3rem;
    margin-top: 1rem;
}

.main-footer {
    display: flex;
    width: 140rem;
    margin: 10rem 0 0 0;
}

.main-image-width {
    width: 48%;
    display: flex;
}

.main-footer-image {
    width: 100%;
}

.main-footer-text {
    width: 52%;
    background-color: #ffbb00;
    position: relative;
}

.main-footer-title {
    font-family: 'Merriweather', serif;
    font-size: 3.3rem;
    line-height: 4.4rem;
    width: 47rem;
    color: #332200;
    font-weight: 900;
    padding: 26rem 0 0 7rem;
}

.main-footer-sub {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    color: #664400;
    font-weight: 600;
}

.footer-image-1 {
    position: absolute;
    left: 3.6rem;
    top: 25rem;
    width: 5%;
}

.footer-image-2 {
    position: absolute;
    top: 46rem;
    left: 53rem;
    width: 5%;
}

.footer {
    min-width: 80rem;
    max-width: 140rem;
    margin: 0 auto;
}

.footer-payment {
    background-color: #161616;
    height: 69rem;

}

#seguros {
    padding: 7rem 0 0rem 20rem;
    color: #ffffff;
}
.footer-flex {
    display: flex;
    align-items: baseline;
    padding-top: 4rem;
    overflow: auto;
}



.footer-card {
    border: 1px solid black;
    background-color: black;
    border-radius: 0.7rem;
    width: 44rem;
    height: 40rem;
    /* display: inline-block; */
    vertical-align: bottom;
    font-family: 'Poppins', sans-serif;
    color: #9c9c9c;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    box-sizing: border-box;
    transition: .7s;
}

.footer-card:hover{
    border: 1px solid black;
    background-color: black;
    border-radius: 0.7rem;
    width: 45rem;
    height: 45rem;
    display: inline-block;
    vertical-align: bottom;
    font-family: 'Poppins', sans-serif;
    color: #ffbb00;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    box-sizing: border-box;
    transition: .7s;
}


.first {
    margin-left: 24rem;
}
.first:hover {
    margin-left: 23rem;
}
.second {
    margin-left: 4rem;
}

.footer-title {
    padding: 4rem 0 0 4rem;
    display: flex;
}

.footer-title-2 {
    padding-left: 18.5rem;
    color: #ffffff;
}

.footer-sub {
    font-size: 1rem;
    color: #9c9c9c;
    line-height: 1rem;
    padding-left: 5.6rem;
}

.foot-list {
    color: #ffffff;
    list-style-image: url(../image/Rectangle\ Li\ .png);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #ffffff;

}

.footer-ul {
    margin: .7rem 0 0 .4rem;
}

.foot-butt-1 {
    padding: 9rem 0 0 5rem;
    transition: .7s;
}

.foot-butt-2 {
    padding: 2rem 0 0 5rem;
    transition: .7s;
}

.footer-card:hover .foot-butt-1{
    padding: 12rem 0 0 5rem;
    transition: .7s;
}

.footer-card:hover .foot-butt-2{
    padding: 5rem 0 0 5rem;
    transition: .7s;
}

.butt-a {
    text-decoration: none;
    border: 1px solid #2e2e2e;
    background-color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    color: #cccccc;
    font-size: 1.6rem;
    border-radius: .5rem;
    text-align: center;
    display: inline-block;
    width: 16rem;
    transition: .7s;
}
.footer-card:hover .butt-a {
    text-decoration: none;
    border: 1px solid #2e2e2e;
    background-color: #ffbb00;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 1.6rem;
    border-radius: .5rem;
    text-align: center;
    display: inline-block;
    width: 16rem;
    transition: .7s;
}
.footer-contact {
    background-color: #000000;
    height: 45rem;
    display: flex;
    width: 100%;
}

.footer-rights,
.cont-info {
    font-size: 1.6rem;
    color: #9c9c9c;
    line-height: 3rem;

}

.footer-rights {
    padding-top: 30rem;
}

.cont-info {
    width: 20rem;
    height: 18rem;
    padding-top: 3rem;
}

.social,
.social-margin {
    text-decoration: none;
}

.s-h:hover {
    color: #ffbb00;
}

.social-margin {
    margin: 0 1.7rem;
}

.info-li {
    padding-top: 3rem;
}

.contact,
.info {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    color: #ffffff;
    width: 22%;
    padding: 0px 0 0 50px;
    margin-top: 4.5rem;
}

a[href="tel:+55 21 9999-9999"],
a[href="mailto:"],
a[href="https://www.google.ru/maps?hl=ru"] {
    text-decoration: none;
    color: #9c9c9c;
}

a[href="https://www.google.ru/maps?hl=ru"] {
    display: inline-block;
    padding-top: 3rem;
}

.info-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #9c9c9c;
    text-decoration: none;
    display: inline-block;
    padding-top: 1.3rem;
}

a[href="tel:+55 21 9999-9999"]:hover,
a[href="mailto:"]:hover,
a[href="https://www.google.ru/maps?hl=ru"]:hover {
    color: #ffbb00;
}